{:remove-multiple-non-indenting-spaces? true
 :sort-ns-references? true
 :indents {io.julienvincent.malt/extend [[:inner 0] [:inner 1]]
           io.julienvincent.malt/implement [[:inner 0] [:inner 1]]
           io.julienvincent.malt/defrecord [[:inner 0] [:inner 1]]}}
